<%= simple_form_for([@shop, @item]) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :discount %>
  <%= f.input :soldout %>
  <p><%= f.button :submit %><%= link_to "Back", url_for(:back), class: "btn btn-default" %> </p>
<% end %>