<div class="col-md-10 col-md-offset-1">
  <div class="message-show">
    <%= pluralize(@myitems.count, "item") %> found
  </div>


  <% @myitems.each do |item| %>
    <% if item.shop_id == @shop.id %>
      <div class="message-show">
        <table class="">
          <td class="td">
            <div class="img">
              <%= image_tag(item.picture.url) if item.picture? %>
            </div>
          </td>
          <td class="td1">
            <ul class="">
              <li class=""><span class=""><%= item.name%> <%= link_to "Compare", "#" %> or </span><%= link_to  "more about item", shop_item_path(@shop, item.id), class: "btn-custom" %></li>
              <ul>  
                <li class="">Price:       <%= item.price %></li>
                <li class="">On stock?    <%= human_boolean(!item.soldout) %></li>
                <li class="">On discount? <%= human_boolean(item.discount) %></li>
              </ul>
            </ul>
          </td>
        </table>
      </div>
    <% end %>
  <% end %>
  
  <%= will_paginate @myitems, class:"message-show" %>

</div>
